
.vs/QueueProcessor2/v15/Server/sqlite3/db.lock
.vs/QueueProcessor2/v15/Server/sqlite3/storage.ide
.vs/QueueProcessor2/v15/Server/sqlite3/storage.ide-shm
.vs/QueueProcessor2/v15/Server/sqlite3/storage.ide-wal
.vs/QueueProcessor2/v15/.suo
QueueProcessor2/obj/Debug/App.g.i.cs
QueueProcessor2/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
QueueProcessor2/obj/Debug/MainWindow.g.i.cs
QueueProcessor2/obj/Debug/QueueProcessor2.csproj.CoreCompileInputs.cache
QueueProcessor2/obj/Debug/QueueProcessor2_MarkupCompile.i.cache
QueueProcessor2/obj/Debug/QueueProcessor2_MarkupCompile.i.lref
QueueProcessor2/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
QueueProcessor2/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
QueueProcessor2/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
QueueProcessor2/bin/Debug/QueueProcessor2.exe
QueueProcessor2/bin/Debug/QueueProcessor2.exe.config
QueueProcessor2/bin/Debug/QueueProcessor2.pdb
QueueProcessor2/bin/Debug/System.ValueTuple.dll
QueueProcessor2/bin/Debug/System.ValueTuple.xml
QueueProcessor2/obj/Debug/App.g.cs
QueueProcessor2/obj/Debug/DesignTimeResolveAssemblyReferences.cache
QueueProcessor2/obj/Debug/MainWindow.baml
QueueProcessor2/obj/Debug/MainWindow.g.cs
QueueProcessor2/obj/Debug/QueueProcessor2.csproj.CopyComplete
QueueProcessor2/obj/Debug/QueueProcessor2.csproj.FileListAbsolute.txt
QueueProcessor2/obj/Debug/QueueProcessor2.csproj.GenerateResource.Cache
QueueProcessor2/obj/Debug/QueueProcessor2.csprojResolveAssemblyReference.cache
QueueProcessor2/obj/Debug/QueueProcessor2.exe
QueueProcessor2/obj/Debug/QueueProcessor2.g.resources
QueueProcessor2/obj/Debug/QueueProcessor2.pdb
QueueProcessor2/obj/Debug/QueueProcessor2.Properties.Resources.resources
QueueProcessor2/obj/Debug/QueueProcessor2_MarkupCompile.cache
QueueProcessor2/obj/Debug/QueueProcessor2_MarkupCompile.lref
QueueProcessor2/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
